<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% if title %}
        <title>Nopa - {{ title }}</title>
    {% else %}
        <title>Nopa Blog</title>
    {% endif %}
    <meta name="description" content="Cabe - Minimal and Personal Blog Template">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css" media="all">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" media="all">
    

    <link rel="stylesheet" href=" {{ url_for('static', filename='font-awesome.min.css') }}">
   

    <link rel="stylesheet" href=" {{ url_for('static', filename='try.css') }}">
   
        <link rel="stylesheet" href="{{ url_for('static', filename='css/you.css') }}" type="text/css" media="all">




    <link rel="stylesheet" href="{{ url_for('static', filename='owl.carousel.min.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='owl.theme.default.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='blog.min.css') }}">
 
    
<meta content='width=device-width, initial-scale=1.0, minimum-scale=1' name='viewport'>




    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


<!--  -->


</head>
<style type="text/css">

#outer {
  /*border: 2px solid #1c4646;*/
/*  width:100%;*/
  display: flex;
  justify-content: center;
}

 </style>
<body>


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
{{ message }}
</div>
{% endfor %}

{% endif %}

{% endwith %}

 
<!-- preloader -->

{% if current_user.is_authenticated %}  
<div id="outer">
  <div id="inner">
    <div id="loader-wrapper">

        <div class="loader-img">
            <img style="border-radius: 100%; width: 100px;border: 6px solid #1c4646;padding: 4px" src="{{ image_file }}" alt="preloader">
        </div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
</div>
</div>
 {% else %}

 <div id="outer">
  <div id="inner">
    <div id="loader-wrapper">
        <div class="loader-img"><img style="border-radius: 100%; width: 100px;border: 4px solid #1c4646;padding: 6px" src="{{ url_for('static', filename='profile_pics/default.jpg') }}" alt="preloader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
</div>
</div>

{% endif %}




    <!-- search wrapper -->
    <div class="section search-section">
        <a href="#" class="close-search">
            <img src="{{ url_for('static', filename='img/close.png') }}" alt="close"></a>
        <div class="centered">
            <form action="#">
                <input type="text" placeholder="Search here..">
                <button>Search</button>
            </form>
        </div>
    </div>
    <!-- search wrapper -->




 
    <!-- header section -->
    <section style="display: block;" class="header-wrapper style-one">

     

        <div class="container">
            <div class="row">



                
                 {% if current_user.is_authenticated %}

                <div class="col-lg-2 col-md-12 text-left">
                  
                    <a href="{{ url_for('users.account') }}" class="logo">
                        <img style="border-radius: 100% !important; width: 50px !important;border: 4px solid #1c4646;padding: 3px" src="{{ image_file }}" alt="logo"></a>
                    <a href="#" class="menu-click"><span></span><span></span><span></span></a>
       
                </div>
                 {% else %}


                <div class="col-lg-2 col-md-12 text-left">
                  
                    <a href="{{ url_for('users.account') }}" class="logo">
                        <img style="border-radius: 100% !important; width: 50px !important;border: 3px solid #1c4646;padding: 3px" src="{{ url_for('static', filename='profile_pics/default.jpg') }}" alt="logo"></a>
                    <a href="#" class="menu-click"><span></span><span></span><span></span></a>
       
                </div>



                 {% endif %}

              
                

                <div  class="col-lg-8 col-md-12">
                    <nav  id="main-menu" class="text-center">
                        <ul>
                            {% if current_user.is_authenticated %}
                     
                        
                            <li><a href="{{ url_for('users.logout') }}">sign-out</a></li>
                        
                            {% else %}
                          
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2 col-md-4 text-right">
                    <a href="#" class="search-icon"><img src="{{ url_for('static', filename='img/search.png') }}" alt="search-icon"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- header section -->
      <section>

        {% block content %}

        
      




        {% endblock %}
       </section>
    <!-- footer wrapper -->


    <!-- footer-wrapper -->
    

     
     
<!-- SCRIPTS -->
<script src="{{ url_for('static', filename='js/jquery-1.12.3.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/plugin.js') }}"></script>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>

<!--  -->

<script type="text/javascript">
    // Full blog theme demo and download available at http://thomasvaeth.com/trophy/
var Tabs = (function() {
  var s;

  return {
    settings: {
      tabs: document.getElementsByClassName('tabs__item'),
      tab: document.getElementsByClassName('tab')
    },

    init: function() {
      s = this.settings;
      this.display();
      this.click();
    },

    display: function() {
      if (s.tab.length) {
        [].forEach.call(s.tab, function(tab) {
          tab.style.display = 'none';
        });
        s.tab[0].style.display = 'block';
        s.tab[0].classList.add('active');
        s.tabs[0].classList.add('active');
      }
    },

    click: function() {
      if (s.tabs.length) {
        var currentIdx = 0,
            prevIdx = currentIdx;

        [].forEach.call(s.tabs, function(tab, idx) {
          tab.addEventListener('click', function() {
            prevIdx = currentIdx;
            currentIdx = idx;

            if (prevIdx !== currentIdx) {
              s.tab[prevIdx].style.display = 'none';
              s.tab[prevIdx].classList.remove('active');
              s.tabs[prevIdx].classList.remove('active');
              s.tab[currentIdx].style.display = 'block';
              s.tab[currentIdx].classList.add('active');
              s.tabs[currentIdx].classList.add('active');
            }
          });
        });
      }
    }

  }
})();

var Preview = (function() {
  var s;

  return {
    settings: {
      img: document.getElementsByClassName('preview__img'),
      post: document.getElementsByClassName('preview')
    },

    init: function() {
      s = this.settings;
      this.display();
      this.mouseenter();
    },

    display: function() {
      if (s.img.length) {
        [].forEach.call(s.img, function(img) {
          img.style.display = 'none';
        });
        s.img[0].style.display = 'block';
      }
    },

    mouseenter: function() {
      if (s.post.length) {
        var currentIdx = 0,
            prevIdx = currentIdx;

        [].forEach.call(s.post, function(preview, idx) {
          preview.addEventListener('mouseenter', function() {
            prevIdx = currentIdx;
            currentIdx = idx;

            if (prevIdx !== currentIdx) {
              s.img[prevIdx].style.display = 'none';
              s.img[currentIdx].style.display = 'block';
            }
          });
        });
      }
    }
  }
})();

document.addEventListener('DOMContentLoaded', function() {
  Tabs.init();
  Preview.init();
});

</script>
<!--  -->

<script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 1, 2022 15:37:25").getTime();

// Update the count down every 1 second
var countdownfunction = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();
  
  // Find the distance between now an the count down date
  var distance = countDownDate - now;
  
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  
  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";
  
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(countdownfunction);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>


<script type="text/javascript">
    // const TypeWriter = function(txtElement, words, wait = 3000) {
//   this.txtElement = txtElement;
//   this.words = words;
//   this.txt = '';
//   this.wordIndex = 0;
//   this.wait = parseInt(wait, 10);
//   this.type();
//   this.isDeleting = false;
// }

// // Type Method
// TypeWriter.prototype.type = function() {
//   // Current index of word
//   const current = this.wordIndex % this.words.length;
//   // Get full text of current word
//   const fullTxt = this.words[current];

//   // Check if deleting
//   if(this.isDeleting) {
//     // Remove char
//     this.txt = fullTxt.substring(0, this.txt.length - 1);
//   } else {
//     // Add char
//     this.txt = fullTxt.substring(0, this.txt.length + 1);
//   }

//   // Insert txt into element
//   this.txtElement.innerHTML = `<span class="txt">${this.txt}</span>`;

//   // Initial Type Speed
//   let typeSpeed = 300;

//   if(this.isDeleting) {
//     typeSpeed /= 2;
//   }

//   // If word is complete
//   if(!this.isDeleting && this.txt === fullTxt) {
//     // Make pause at end
//     typeSpeed = this.wait;
//     // Set delete to true
//     this.isDeleting = true;
//   } else if(this.isDeleting && this.txt === '') {
//     this.isDeleting = false;
//     // Move to next word
//     this.wordIndex++;
//     // Pause before start typing
//     typeSpeed = 500;
//   }

//   setTimeout(() => this.type(), typeSpeed);
// }


// ES6 Class
class TypeWriter {
  constructor(txtElement, words, wait = 3000) {
    this.txtElement = txtElement;
    this.words = words;
    this.txt = '';
    this.wordIndex = 0;
    this.wait = parseInt(wait, 10);
    this.type();
    this.isDeleting = false;
  }

  type() {
    // Current index of word
    const current = this.wordIndex % this.words.length;
    // Get full text of current word
    const fullTxt = this.words[current];

    // Check if deleting
    if(this.isDeleting) {
      // Remove char
      this.txt = fullTxt.substring(0, this.txt.length - 1);
    } else {
      // Add char
      this.txt = fullTxt.substring(0, this.txt.length + 1);
    }

    // Insert txt into element
    this.txtElement.innerHTML = `<span class="txt">${this.txt}</span>`;

    // Initial Type Speed
    let typeSpeed = 300;

    if(this.isDeleting) {
      typeSpeed /= 2;
    }

    // If word is complete
    if(!this.isDeleting && this.txt === fullTxt) {
      // Make pause at end
      typeSpeed = this.wait;
      // Set delete to true
      this.isDeleting = true;
    } else if(this.isDeleting && this.txt === '') {
      this.isDeleting = false;
      // Move to next word
      this.wordIndex++;
      // Pause before start typing
      typeSpeed = 500;
    }

    setTimeout(() => this.type(), typeSpeed);
  }
}


// Init On DOM Load
document.addEventListener('DOMContentLoaded', init);

// Init App
function init() {
  const txtElement = document.querySelector('.txt-type');
  const words = JSON.parse(txtElement.getAttribute('data-words'));
  const wait = txtElement.getAttribute('data-wait');
  // Init TypeWriter
  new TypeWriter(txtElement, words, wait);
}
</script>

</body>
</html>
