
{% extends "base_3.html" %}
{% block content %}

    <main class="ytc-main ytc-home">

    	      <section class="lb-grid ytc-home-hero">
        <div
          class="lb-grid__cell lb-grid__cell--span-4 lb-grid__cell--md-span-12 lb-grid__cell--sm-span-12 ytc-home-hero__text-column"
        >
          <div>

          	

            <h1 style="font-size:22px"
              class="lb-font-display-2 lb-margin-bottom-m--bp-auto ytc-home-hero__heading"
            ><a style="text-decoration: none;" href="{{ url_for('posts.post', post_id=post.id) }}">
             {{ post.title | capitalize }} </a> <!-- <span style="font-size:24px;">wiki </span> -->
               <br>
             <!--  <span style="font-size:28px;color: #007bff" class=" typed-text"></span><span class="cursor">&nbsp;</span> -->

            </h1>

            <small class="text-muted">Posted by  <a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username| capitalize }} </a> on {{ post.date_posted.strftime('%Y-%m-%d') }}</small> <br>


             <br>


             <p style="text-decoration:underline;color: #355e3b;" class="copyright-text">
              <a href="{{ url_for('main.fe') }}">i'm so ready to get cute & get ate out ... i mean go out to eat</a>
 			        
              </p> 

              <p  class="copyright-text"></p>

              <!-- 
              <a style="font-size: 16px;color: #007bff;" href="">#UberEatsOffers</a>
              <a style="font-size: 16px;color: #007bff;" href="">#From3PM</a> -->


           <!--  <br><br> -->
<!-- 


            <a style="font-size: 18px;color: #007bff;" href="">Continue with Google </a>

            <img style="color:#065fd4f ;" src="{{ url_for('static', filename='img/arrow-right.svg') }}">
 -->
  <br><br>

            {% if post.author == current_user %}

          <a style="background-color:#fff;border: 2px solid #1c4646;width:100%;text-align: center;padding: 6px;border-radius:5px;text-decoration:none" class="title width-100 justify-content-between align-items-center centra-medium-faq-alt c-dino-kale padding-right-5px padding-right-md-none" href="{{ url_for('posts.update_post', post_id=post.id) }}" class="entry-read-more">
             Update Post</a>


            <a style="background-color:#fff;border: 2px solid #c4302b;width:100%;text-align: center;padding: 6px;border-radius:5px;text-decoration:none;color: #c4302b" class="title width-100 justify-content-between align-items-center centra-medium-faq-alt c-dino-kale padding-right-5px padding-right-md-none" href="{{ url_for('posts.update_post', post_id=post.id) }}" class="entry-read-more" data-toggle="modal" data-target="#deleteModal">
             Delete Post</a>


         {% else %}

         {% endif %}

   <br><br>
           <!--  <a style="font-size: 18px;color: #007bff;" href="">Continue with Google </a>

            <img style="color:#065fd4f ;" src="{{ url_for('static', filename='img/arrow-right.svg') }}">
 -->

         




          
          </div>
        </div>



        <div
          class="lb-grid__cell lb-grid__cell--offset-5-span-7 lb-grid__cell--md-span-12 lb-grid__cell--sm-span-12 ytc-home-hero__video-column"
        >
          <div
            class="ytc-home-hero__video-container"
            lb-auto-init="YTCHomeVideo"
          >
          <img class="ytc-home-hero__video" src="{{ url_for('static', filename='img/room.jpeg') }}">
        <!--     <video
              class="ytc-home-hero__video"
              src="https://kstatic.googleusercontent.com/files/703f7e133bc7c37b11bcb64077fb1c6a6d90fd5ed17e232357ffe50fa366a1072ff1d4cc29efaff021b25c50f7a34e55337573fe22d2b9be952cca36a13f4713"
              autoplay
              muted
              loop
              playsinline
            ></video> -->

           


         <!--    <button
              class="lb-button lb-button--overlay lb-button--square lb-button--filled ytc-home-hero__mute"
              aria-label="Mute Video"
            >
              <svg
                viewBox="0 0 24 24"
                class="lb-icon ytc-home-hero__mute-icon"
                aria-hidden="true"
              >
                <use href="#volume-off"></use>
              </svg>
            </button> -->
          </div>


        </div>

      </section>

        <!-- Modal -->


  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>




     </main>


{% endblock content %}


<!-- An easy dating solution that allows members alike to form deep connection on blind dates with the help of 36 Questions that could supposedly make any two people fall in love . -->